@charset "UTF-8";
:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --main-hover-color: #2196f3;
  --secondary-hover-color: #ffffff;
  --logo-color: #2196f3;
  --secondary-logo-color: #000000;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --hero-bg-color: #2f303a;
  --main-button-bg-color: #2196f3;
  --secondary-button-bg-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --about-us-thumb-bg-color: rgba(47, 48, 58, 0.8);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.title {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.footer-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  text-transform: uppercase;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  color: var(--third-text-color);
  background-color: var(--main-button-bg-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  line-height: 1.88;
}

body.modal-open {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
  padding-top: 10px;
  padding-bottom: 9px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 93px;
  }
}

.logo--dark {
  color: var(--secondary-logo-color);
}

.menu__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.menu__item + .menu__item {
  margin-left: 50px;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.menu__link:hover, .menu__link:focus {
  color: var(--main-hover-color);
}

.menu__link--current {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: var(--main-hover-color);
}
.menu__link--current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--main-hover-color);
  bottom: -1px;
  left: 0;
}

.contacts__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts__list {
    display: block;
    margin-left: auto;
    padding-top: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item + .contacts__item {
    margin-left: 50px;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--main-hover-color);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
.contacts__link .contacts__icon {
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  color: var(--main-hover-color);
}

.menu-open-btn {
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.icon-menu-open {
  fill: currentColor;
}
.menu-open-btn:hover .icon-menu-open, .menu-open-btn:focus .icon-menu-open {
  fill: var(--main-hover-color);
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 20px;
}
@media screen and (min-width: 480px) {
  .mobile-menu {
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
  }
}

.mobile-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow: auto;
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  display: block;
  margin-left: auto;
  width: 40px;
  height: 40px;
}

.icon-menu-close {
  fill: currentColor;
}
.menu-close-btn:hover .icon-menu-close, .menu-close-btn:focus .icon-menu-close {
  fill: var(--main-hover-color);
  cursor: pointer;
}

.mobile-menu__nav-item:not(:last-child) {
  margin-bottom: 22px;
}
@media screen and (min-width: 480px) {
  .mobile-menu__nav-item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu__nav-link {
  font-weight: 500;
  font-size: 35px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
  color: var(--main-hover-color);
}
@media screen and (min-width: 480px) {
  .mobile-menu__nav-link {
    font-size: 40px;
  }
}

.mobile-menu__nav-link--current {
  color: var(--main-hover-color);
}

.mobile-menu__bottom-container {
  margin-top: auto;
}

.mobile-menu__contacts-link {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 44px;
}
@media screen and (min-width: 480px) {
  .mobile-menu__contacts-link {
    margin-bottom: 64px;
  }
}

.mobile-menu__contacts-link.tel {
  display: block;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-hover-color);
  margin-bottom: 22px;
}
@media screen and (min-width: 480px) {
  .mobile-menu__contacts-link.tel {
    font-size: 34px;
    margin-bottom: 32px;
  }
}

.mobile-menu__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-menu__social-item:not(:last-child) {
  margin-right: 10px;
}
@media screen and (min-width: 480px) {
  .mobile-menu__social-item:not(:last-child) {
    margin-right: 20px;
  }
}

.mobile-menu__social-link {
  position: relative;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--main-hover-color);
}
.mobile-menu__social-link::after {
  position: absolute;
  content: "";
  background-color: rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 15px;
  height: 1px;
  bottom: 50%;
  right: 100%;
  margin-right: -2px;
}
@media screen and (min-width: 480px) {
  .mobile-menu__social-link {
    font-size: 18px;
  }
  .mobile-menu__social-link::after {
    content: "";
    width: 22px;
  }
}

.no-scroll {
  overflow: hidden;
}

.hero {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/hero/hero-bg-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/hero-bg-mobile.jpg);
  background-color: var(--hero-bg-color);
  padding: 118px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/hero/hero-bg-mobile-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/hero-bg-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/hero/hero-bg-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/hero-bg-tablet.jpg);
    background-color: var(--hero-bg-color);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/hero/hero-bg-tablet-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/hero-bg-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/hero/hero-bg-desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/hero-bg-desktop.jpg);
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/hero/hero-bg-desktop-2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero/hero-bg-desktop-2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-text-color);
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: block;
  text-align: center;
  font-family: inherit;
  padding: 10px 32px;
  min-width: 136px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.features__item {
  margin-bottom: 30px;
}
.features__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: calc((100% - 30px) / 2);
  }
  .features__item:nth-child(odd) {
    margin-right: 30px;
  }
  .features__item:nth-child(3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: calc((100% - 90px) / 4);
  }
  .features__item + .features__item {
    margin-left: 30px;
  }
}

.features__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--secondary-bg-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
}

.features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .features__subtitle {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .features__subtitle {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}

.about__title {
  margin-bottom: 50px;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__item {
  position: relative;
}
.about__item + .about__item {
  margin-left: 30px;
}

.about__thumb {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  background-color: var(--about-us-thumb-bg-color);
  border: 1px solid #000000;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.about__description {
  font-style: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  text-transform: uppercase;
}

.team {
  background-color: var(--secondary-bg-color);
  text-align: center;
  letter-spacing: 0.03em;
}

.team__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__item {
  background-color: var(--main-bg-color);
  border: 0px solid;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
.team__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
  .team__item:nth-child(odd) {
    margin-right: 30px;
  }
  .team__item {
    margin-bottom: 30;
  }
  .team__item:nth-child(n+3) {
    margin-bottom: 0;
  }
}

.team__description {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__description {
    padding-bottom: 30px;
  }
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 1.19;
}

.team__position {
  font-size: 16px;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
  line-height: 1.19;
}

.socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__social-list {
  margin: 0 32px;
}

.socials-list__item {
  width: 44px;
  height: 44px;
}
.socials-list__item + .socials-list__item {
  margin-left: 10px;
}
@media screen and (min-width: 1200px) {
  .socials-list__item {
    width: calc((100% - 30px) / 4);
  }
}

.socials-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.socials-list__link:hover, .socials-list__link:focus {
  background-color: var(--main-hover-color);
}

.socials-list__icon {
  fill: #afb1b8;
}
.socials-list__link .socials-list__icon {
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}
.socials-list__link:hover .socials-list__icon, .socials-list__link:focus .socials-list__icon {
  fill: #ffffff;
}

.clients__title {
  margin-bottom: 30px;
  letter-spacing: 0;
}
@media screen and (min-width: 480px) {
  .clients__title {
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
  margin-bottom: 30px;
}
.clients__item:nth-child(n+5) {
  margin-bottom: 0;
}
.clients__item:nth-child(2n+1) {
  margin-right: 30px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
  .clients__item:nth-child(2n+1) {
    margin-right: 0px;
    margin-left: 0px;
  }
  .clients__item + .clients__item {
    margin-left: 30px;
  }
  .clients__item:nth-child(4) {
    margin-left: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
    margin: 0;
  }
  .clients__item + .clients__item {
    margin-left: 30px;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition: border var(--transition);
  transition: border var(--transition);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--main-hover-color);
}

.clients__icon {
  fill: #afb1b8;
}
.clients__link .clients__icon {
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--main-hover-color);
}

.footer {
  letter-spacing: 0.03em;
  background-color: var(--footer-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-left: 76px;
    padding-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-left: 61px;
    padding-right: 74px;
    margin: 0;
  }
}

.contacts-container__footer {
  text-align: center;
  width: 231px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .contacts-container__footer {
    margin: 0;
  }
}

.footer__contacts-container {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__contacts-container {
    margin-bottom: 0;
    margin-right: 70px;
    margin-left: 0;
  }
}

.logo {
  display: block;
}
.logo--light {
  color: var(--third-text-color);
}

.footer__logo {
  margin-bottom: 20px;
}

.footer-contacts {
  font-style: normal;
  line-height: 1.71;
}

.footer-contacts__item + .footer-contacts__item {
  margin-top: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-contacts__item + .footer-contacts__item {
    margin-top: 9px;
  }
}

.footer-contacts__link {
  color: var(--footer-text-color);
  font-size: 14px;
  -webkit-transition: color var(--transition);
  transition: color var(--transition);
}
.footer-contacts__link--light {
  color: var(--third-text-color);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--main-hover-color);
}

/***********************JOIN*******************/
.footer-join {
  text-align: center;
}

.footer__footer-join {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__footer-join {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__footer-join {
    margin-right: 93px;
    margin-bottom: 0;
  }
}

.footer-join__title {
  margin-bottom: 20px;
}

.socials-list__link--dark-bg {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.socials-list__link:hover, .socials-list__link:focus {
  background-color: var(--main-hover-color);
}

.socials-list__icon--light {
  fill: var(--third-text-color);
}
.socials-list__link .socials-list__icon {
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
.socials-list__link:hover .socials-list__icon, .socials-list__link:focus .socials-list__icon {
  fill: var(--secondary-hover-color);
}

/*******************SUBSCRIBE*******************/
.footer-subscribe {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-subscribe {
    width: 450px;
    margin: 0 auto;
  }
}

.footer-subscribe__title {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe-form__input {
  background-color: inherit;
  padding: 15px 0px 15px 16px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--third-text-color);
}
.subscribe-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}
.subscribe-form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}
.subscribe-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}
.subscribe-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}
.subscribe-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}
@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe-form__input {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    margin-bottom: 0;
  }
}

.subscribe-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.subscribe-form__icon {
  fill: currentColor;
  margin-left: 10px;
  display: inline-block;
}

.portfolio__filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .portfolio__filters-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__filters-list {
    margin-bottom: 50px;
  }
}

.portfolio__filters-item + .portfolio__filters-item {
  margin-left: 8px;
}
.portfolio__filters-item + .portfolio__filters-item:nth-child(-n+3) {
  margin-bottom: 15px;
}
.portfolio__filters-item + .portfolio__filters-item:nth-child(4) {
  margin-left: 0;
}

.portfolio__filters-btn {
  background-color: var(--secondary-button-bg-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: inherit;
  cursor: pointer;
  border: 0px solid;
  border-radius: 4px;
  padding: 6px 12px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: background-color var(--transition), color var(--transition), -webkit-box-shadow var(--transition);
  transition: background-color var(--transition), color var(--transition), -webkit-box-shadow var(--transition);
  transition: background-color var(--transition), color var(--transition), box-shadow var(--transition);
  transition: background-color var(--transition), color var(--transition), box-shadow var(--transition), -webkit-box-shadow var(--transition);
}
.portfolio__filters-btn:hover, .portfolio__filters-btn:focus {
  background-color: var(--main-hover-color);
  color: var(--secondary-bg-color);
  -webkit-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 480px) {
  .portfolio__filters-btn {
    padding: 6px 22px;
    font-size: 16px;
  }
}

/* Наши проекты */
@media screen and (min-width: 768px) {
  .portfolio__projects-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.portfolio__projects-item {
  width: 100%;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio__projects-item:nth-child(3n) {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .portfolio__projects-item {
    width: calc((100% - 30px) / 2);
  }
  .portfolio__projects-item:nth-child(odd) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__projects-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
  }
  .portfolio__projects-item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.portfolio__projects-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-box-shadow var(--transition);
  transition: -webkit-box-shadow var(--transition);
  transition: box-shadow var(--transition);
  transition: box-shadow var(--transition), -webkit-box-shadow var(--transition);
}
.portfolio__projects-link:hover, .portfolio__projects-link:focus {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.portfolio__projects-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 31px 20px;
  background-color: var(--main-hover-color);
  opacity: 0.9;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--transition);
  transition: -webkit-transform var(--transition);
  transition: transform var(--transition);
  transition: transform var(--transition), -webkit-transform var(--transition);
}
.portfolio__projects-link:hover .portfolio__overlay, .portfolio__projects-link:focus .portfolio__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (min-width: 480px) {
  .portfolio__overlay {
    padding: 77px 24px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__overlay {
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__overlay {
    padding: 63px 24px;
  }
}

.portfolio__overlay-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}
@media screen and (min-width: 480px) {
  .portfolio__overlay-text {
    font-size: 18px;
  }
}

.portfolio__projects-subscribe {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio__projects-subtitle {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__projects-text {
  font-size: 14px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 480px) {
  .portfolio__projects-text {
    font-size: 16px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--transition), visibility var(--transition);
  transition: opacity var(--transition), visibility var(--transition);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 290px;
  background-color: var(--main-bg-color);
  border-radius: 4px;
  padding: 20px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
    padding: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--main-bg-color);
  width: 25px;
  height: 25px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
@media screen and (min-width: 480px) {
  .modal__btn-close {
    width: 30px;
    height: 30px;
    padding: 6px;
  }
}

.modal__icon-close {
  fill: currentColor;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}
.modal__btn-close:hover .modal__icon-close, .modal__btn-close:focus .modal__icon-close {
  fill: var(--main-hover-color);
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal__title {
  font-weight: 700;
  font-size: 19px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 480px) {
  .modal__title {
    font-size: 20px;
  }
}

.form__field {
  margin-bottom: 10px;
}
.form__field:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .form__field:nth-child(4) {
    margin-bottom: 20px;
  }
}

.form__title {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.form__wrap {
  position: relative;
}

.form__input {
  height: 40px;
  padding: 12px 12px 12px 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border var(--transition);
  transition: border var(--transition);
  outline: none;
}
.form__input:hover, .form__input:focus {
  border-color: var(--main-hover-color);
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  fill: var(--main-hover-color);
}

.form__textarea {
  resize: none;
  padding: 12px 16px;
  height: 70px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border var(--transition);
  transition: border var(--transition);
  outline: none;
}
.form__textarea:hover, .form__textarea:focus {
  border-color: var(--main-hover-color);
}
@media screen and (min-width: 480px) {
  .form__textarea {
    height: 122px;
  }
}
.form__textarea::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox__label {
  display: block;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .checkbox__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--secondary-text-color);
  }
}

.checkbox__agreement {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-hover-color);
  border-radius: 2px;
  margin-right: 7px;
  -webkit-transition: background-color var(--transition);
  transition: background-color var(--transition);
}
@media screen and (min-width: 1200px) {
  .checkbox__agreement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.checkbox__icon {
  fill: transparent;
  -webkit-transition: fill var(--transition);
  transition: fill var(--transition);
}

.checkbox__input:checked + .checkbox__label .checkbox__agreement {
  background-color: var(--main-hover-color);
  border: none;
}

.checkbox__input:focus + .checkbox__label .checkbox__agreement {
  border-color: var(--main-hover-color);
}

.checkbox__input:checked + .checkbox__label .checkbox__icon {
  fill: var(--third-text-color);
}

.checkbox__link {
  color: var(--main-hover-color);
}

.form__checkbox {
  margin-bottom: 15px;
}
@media screen and (min-width: 480px) {
  .form__checkbox {
    margin-bottom: 30px;
  }
}

.form__btn {
  display: block;
  width: 200px;
  padding: 10px 0px;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */